.dropZone {
	display: flex;
	flex-direction: row;
	.flagImg {
		border: solid  #E3DCB6;
	}
}

	.qualifiedCountry {
		display: flex;
		flex-direction: column;
		color: #212121;
	}
	.qualifiedText {
		color: #212121;
		text-align: center;
		font-size: 21px;
		margin-top: 6px;
		margin-bottom: 0;
	}
	.countryName {
		color: #212121;
	}

